<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav hidden-xs">
      

  
      <h2>Logo</h2>
      <ul class="nav nav-pills nav-stacked">
        <li ><a href="#!/admin" style="color:black;">Dashboard</a></li>
        <li class="active"><a href="#section2" style="color:black;">Volunteer Query</a></li>
        <li><a href="#section3" style="color:black;">Volunteer Assign</a></li>
         </ul><br>
    
    
    </div>
    <br>
    <div class="col-sm-9">
      <div class="well">




        <form name="query" ng-submit="vm.query()">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="name" class="form-control" id="name" placeholder="Name" ng-model="vm.name" autocapitalize="none">
          </div>


          <div class="form-group">
            <label for="program">Programs</label>
            <select ng-model="vm.selectedProgram" ng-options="program for program in vm.programlist" style="color:black;">
            </select>
          </div>
          <button type="submit" class="btn btn-success">Query</button>
        </form>
      </div>
      <div ng-if="vm.isresponse">
        <div class="col-sm-9">
          <div class="well">
            <table id = customers>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Program</th>
              </tr>
              <tr ng-repeat="vol in vm.vols">
                <td style="color:black;">{{vol.name}}</td>
                <td style="color:black;">{{vol.emailid}}</td>
                <td style="color:black;">{{vol.program}}</td>
              </tr>
              
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>